{% extends "layout.html" %}
{% block body %}




  <!-- Page Header -->
  
  	<header class="masthead" style="background-image: url(' {{ url_for('static', filename='img/ritik1.jpg')}}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 style="color: blue"><font face="Copperplate Gothic Bold" size="45">About the Admin</font></h1>
            <span class="subheading" style="color: red"><font size="30" face="Copperplate Gothic Bold">Ritik Sharma</font> </span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
       <p><h1>Hello everyone <br>I am Ritik Sharma. </h1></p><p><h2> The Admin/Creator of this page. I am a davian from class 9  jehanabad, Bihar.<br>I am  basically  a Python Programmer</h2></p><p><h3>
      </div>
    </div>
  </div>


{% endblock %}